name: Release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          fetch-depth: 0

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.21.0

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: 24.11.1
          cache: 'pnpm'
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Create or update release PR
        id: changesets
        uses: changesets/action@v1
        with:
          version: pnpm changeset version
          title: 'chore: release packages'
          commit: 'chore: release packages'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Lint
        if: steps.changesets.outputs.hasChangesets == 'false'
        run: pnpm lint

      - name: Test
        if: steps.changesets.outputs.hasChangesets == 'false'
        run: pnpm test

      - name: Build
        if: steps.changesets.outputs.hasChangesets == 'false'
        run: pnpm build

      - name: Publish packages
        if: steps.changesets.outputs.hasChangesets == 'false'
        run: pnpm changeset publish
        env:
          NPM_CONFIG_PROVENANCE: true
          NPM_CONFIG_REGISTRY: https://registry.npmjs.org

      - name: Push tags
        if: steps.changesets.outputs.hasChangesets == 'false'
        run: git push --follow-tags
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
